@page
@model IndexModel
@{
    ViewData["Title"] = "Anders Boerjesson";
}

<div class="container" style="background-color: darkgray">
    <div class="row " style="border-color: black">
        <div class="col-sm table-bordered border-dark" style="color: black">
            Teaching autumn 2019
        </div>
        <div class="col-sm table-bordered border-dark" style="color: black">
            Teaching spring 2019
        </div>
        <div class="col-sm table-bordered border-dark" style="color: black">
            Teaching autumn 2018
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm border-right border-left border-dark" style="color: black">
            <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem</a>
            <a>(Datamatiker)</a> <br />
            <br />
            <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>
            <a> - 4th Sem Computer Science</a>
            <br />
            <br />
            <a href="https://anbo-easj.dk/internship/index.html">Internship,</a>
            <a>5th semester, Comp. Science</a>
            <br />
            <br/>
            <a href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course</a>
            <a>Dissertations, Computer Science</a>
        </div>
        <div class="col-sm border-right border-left border-dark" style="color: black">
            <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>
            <a> - 4th Sem Computer Science</a>
            <br />
            <br />
            <a href="https://anbo-easj.dk/internship/index.html">Internship,</a>
            <a>5th semester, Comp. Science</a>
            <br />
            <br />
            <a href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course</a>
            <a>Dissertations, Computer Science</a>
        </div>
        <div class="col-sm border-right border-left border-dark" style="color: black">
            <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem</a>
            <a>(Datamatiker)</a> <br />
            <br />
            <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>
            <a> - 4th Sem Computer Science</a>
            <br />
            <br />
            <a href="https://anbo-easj.dk/internship/index.html">Internship,</a>
            <a>5th semester, Comp. Science</a>
            <br />
            <br />
            <a href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course</a>
            <a>Dissertations, Computer Science</a>
            <br />
            <br />
            <a href="https://anbo-easj.dk/undervisning/">Previous semesters</a>
            
        </div>
    </div>
</div>






